---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - cleaner.cloudclub.dev
  resources:
  - cleanpolicies
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cleaner.cloudclub.dev
  resources:
  - cleanpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - cleaner.cloudclub.dev
  resources:
  - cleanpolicies/status
  verbs:
  - get
  - patch
  - update
